# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
out/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo/

# Testing
coverage/

# Debug
npm-debug.log*
pnpm-debug.log*

# Docker
infrastructure/docker/data/

# Prisma
packages/database/prisma/*.db
